Dear {{ customer_name | default("") }},

Thank you for your message. We are currently experiencing a temporary system issue that prevents us from providing you with a complete response at this time.

Our team has logged your request and will get back to you within {{ sla_hours }} hours once our systems are fully operational.

We sincerely apologise for any inconvenience this may cause.

Best regards,
{{ agent_signature }}
