Bonjour {{ customer_name | default("") }},

Merci pour votre message. Nous rencontrons actuellement une indisponibilité temporaire de nos systèmes, ce qui nous empêche de vous répondre avec toutes les informations nécessaires dans l'immédiat.

Notre équipe a bien pris note de votre demande et reviendra vers vous dans un délai maximum de {{ sla_hours }} heures, dès que nos systèmes seront pleinement opérationnels.

Nous vous prions de bien vouloir nous excuser pour ce désagrément.

Cordialement,
{{ agent_signature }}
